@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header {
    display: flex;
	width: 100%;
	border-bottom: 2px solid #50C8D0;
}

header .in{
    width: 1190px;
    height: 120px;
    margin: 0px auto;
    position: relative;
}

header .in h1 {
    position: absolute;
    line-height: 1.4;
    max-width: 345px;
    left: 0px;
    bottom: 40px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.back_square {
    display: inline-block;
    color: #50C8D0;
    transition: color 250ms, text-shadow 250ms;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    position: relative;
    z-index: 0;
}

.back_square::after {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -1px;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #50C8D0;
    transition: all 250msbac;
}

.back_square:hover {
    color: white;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}

.back_square:hover::after {
    height: 105%;
    width: 101%;
}

header .in .util{
    position: absolute;
    top: 20px;
    right: 30px;
}

header .in .util li{
    float: left;
}

header .in .util li a{
    display: block;
    font: 12px/1 "arial";
    color: rgb(5, 99, 161);
    padding: 0px 10px;
}

header .in #gnb{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

header .in #gnb li{
    float: left;
}

header .in #gnb li a{
    display: block;
    font: bold 15px/1 "arial";
    color: #009ba3;
    padding: 20px 40px;
    transition: all 0.5s;
}

header .in #gnb li a:hover {
	background-color: #50C8D0;
	color: white;
}

figure img{
    width: 10%;
    height: 10%;
    margin: 100px auto;
    animation: spin 1000ms infinite;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

@keyframes spin {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}